<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>OysterKitPerformanceTests</key>
		<dict>
			<key>testPerformanceOfScanCharacterInSet()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.32771</real>
					<key>baselineIntegrationDisplayName</key>
					<string>22 Aug 2016, 09:17:10</string>
				</dict>
			</dict>
			<key>testPerformanceOfScanString()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.35534</real>
					<key>baselineIntegrationDisplayName</key>
					<string>22 Aug 2016, 09:17:10</string>
				</dict>
			</dict>
			<key>testPerformanceSTLR()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.37768</real>
					<key>baselineIntegrationDisplayName</key>
					<string>22 Aug 2016, 09:17:10</string>
				</dict>
			</dict>
			<key>testPerformanceSTLRParseOnly()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.11912</real>
					<key>baselineIntegrationDisplayName</key>
					<string>22 Aug 2016, 09:17:10</string>
				</dict>
			</dict>
			<key>testSwiftParserPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.39543</real>
					<key>baselineIntegrationDisplayName</key>
					<string>22 Aug 2016, 09:17:10</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
